{% extends 'miscosas/base.html' %}


{% block contenido %}


  <div class="w3-center w3-large">
    <div class="w3-container w3-dark-grey">
      <i class="fa fa-info w3-margin-top w3-jumbo"></i>
      <h3>Página de información</h3>
      <p>Te contamos más acerca de nuestro proyecto.</p>
    </div>
    <div class="w3-container" style="padding:0px 56px">
      <i class="w3-margin-bottom w3-jumbo"></i>
      <p>Esta web es fruto de la práctica final de la asignatura Servicios y Aplicaciones Telemáticas de la ETSIT. Universidad
      Rey Juan Carlos.</p>
      <p> Trabajamos con Youtube y Reddit para alimentar nuestra aplicación. En ella podrás almacenar inforcación
      en forma de canales de youtube y noticias de Reddit a las que llamaremos alimentadores. Tras haber elegido un alimentador la aplicación
      descargará en su base de datos los vídeos (en caso de Youtube) y noticias (en caso de Reddit) que ese canal o subreddit contenga.
      A cada video o subreddit lo llamaremos item, el cual podrás comentar y votar en el caso que seas usuario de la comunidad. Puedes darte
      de alta gratuitamente en el baner superior de la aplicación.  </p>
      <p>¡Bienvenido a Mis Cosas y disfruta de la experiencia!</p>
      <p>Fdo. Equipo técnico</p>
      <p>Autoría: Rocío Díaz Fernández.</p>

    </div>
  </div>

{% endblock %}
