{%  extends 'cms/content.html' %}
    {%  block contenido %}
        <h1  class="display-4">Llave: {{ contenido.clave }}</h1>
          <p  class="lead"> {{ contenido.valor }} </p>
          {%  if user.is_authenticated %}
            <button type="button" class="btn btn-light"><a href="{% url 'cms_modify' llave=contenido.clave %}"><span>Modificar contenido</span></a></button>
          {%  endif %}
          <hr  class="my-4">
            <div  class="content container">
                <div  class="row">
                    <div  class="col-md-8">
                    {%  for comentario in contenido.comentario_set.all %}
                        <div  class="comentario">
                            <div  class="date">
                                {{ comentario.fecha }}
                            </div>
                            <h2>{{  comentario.titulo }}</h2>
                            <p>{{  comentario.cuerpo|linebreaksbr }}</p>
                        </div>
                    {% endfor %}
                    {%  if user.is_authenticated %}
                      <button type="button" class="btn btn-light"><a href="{% url 'cms_new_comment' llave=contenido.clave %}"><span>Nuevo comentario</span></a></button>
                    {%  endif %}
                    </div>

                </div>
        </div>
    {% endblock %}
